{{#get "posts" filter="featured:false+page:false"}}
{{#foreach posts}}

<article class="card {{post_class}}">
	
	{{#if image}}
		<a href="{{url}}">
			<img class="post-image" src="{{image}}" width="256" height="160">
		</a>
	{{/if}}
	<h3 class="post-title">
		<a href="{{url}}">{{title}}</a>
	</h3>
	
</article>

{{/foreach}}
{{/get}}