{{! Each post will be output using this markup }}
{{#foreach posts}}

<article class="{{post_class}} item">
	{{#has tag="projects"}} {{! Treat the projects card specially. }}
		<a href="https://scotthsmith.com/projects">
			<div class="item-content">
				{{#if image}}<div class="photo"><img class="post-image" src="{{image absolute="true"}}"></div>{{/if}}
				<div class="caption"><p>{{excerpt}}</p></div>
			</div>
		</a>
	{{else}}
		<div class="item-content">
			{{#if image}}<div class="photo"><a href="{{url}}"><img class="post-image" src="{{image}}"></a></div>{{/if}}
			<div class="caption"><p>{{excerpt}}</p></div>
		</div>
	{{/has}}
</article>

{{/foreach}}