<!DOCTYPE html>
<!-- Code by Scott Smith
  _____
 / ___ \
/ /   \_\                               _         _
| |                                    | |       | |
\ \____       _____        _____     __| |__   __| |__
 \____ \     / ___ \      / ___ \   |__   __| |__   __|
      \ \   / /   \_\    / /   \ \     | |       | |
      | |  | |          | |     | |    | |       | |
__    / /  | |     __   | |     | |    | |       | |
\ \__/ /    \ \___/ /    \ \___/ /     | |       | |
 \____/      \_____/      \_____/      |_|       |_|

-->
<html lang="en" class="no-js">

<head>
	{{! Page Meta }}
	<title>Scott Smith | {{meta_title}}</title>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	
	<!-- Icons -->
	<link rel="icon" href="https://scotthsmith.com/images/icon.png">
	<link rel="mask-icon" href="https://scotthsmith.com/images/icon.svg" color="#009BCD">
	<link rel="apple-touch-icon-precomposed" href="https://scotthsmith.com/images/ScottPic.jpg">
	<meta name="msapplication-TileColor" content="#ECEEF0">
	<meta name="msapplication-TileImage" content="https://scotthsmith.com/images/icon.png">
	
	<!-- CSS -->
	<link rel="stylesheet" href="https://scotthsmith.com/styles/build/partials/global.css">
	<link rel="stylesheet" href="https://scotthsmith.com/styles/build/partials/project.css">
	<link rel="stylesheet" href="{{asset "styles/build/portfolio.css"}}">
	
	<!-- Typekit -->
	<script src="https://use.typekit.net/jxc3iqn.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
	
	{{ghost_head}}
</head>

<body class="{{body_class}}">
	
	<header>
		<div class="nav">
			<a href="/"><span class="sr-text">Back to </span>Scott<span class="sr-text"> Smith homepage</span></a>
			{{#is "index"}}<h1>Portfolio</h1>{{else}}<h2><a href="{{@blog.url}}">Portfolio</a></h2>{{/is}}</div>
		{{#is "index"}}
	    	<div class="desc hire">
		    	<p>These are projects I have worked on during jobs and internships. Feel free to contact me through any means available on my <a href="/">front page</a> and by <a href="mailto:mail@ScottHSmith.com">email</a>.</p>
		    </div>
		{{/is}}
	</header>
	
	{{! Everything else gets inserted here }}
	{{{body}}}

{{! Ghost outputs important scripts and data with this tag }}
{{ghost_foot}}

<script async type="text/javascript" src="https://scotthsmith.com/scripts/build/main.js"></script>

{{#is "index"}}
	<script async type="text/javascript" src="{{asset "scripts/portfolio.js"}}"></script>
{{/is}}

</body>

</html>