{{!< default}}

{{#post}}

{{! The main content area on the post }}
<main class="content" role="main">
			
	<article class="{{post_class}}">
		
		<div class="post-header">
			{{#if feature_image}}<img class="post-image" src="{{feature_image}}">{{/if}}
			<h1 class="post-title">{{title}}</h1>
		</div>
		
		<div class="post-content">
			<p>{{content}}</p>
		</div>
	</article>

</main>

<footer>
	<div class="secondary-items">
		<h2 class="bin-title">{{t "More Work"}}</h2>
		<div id="secondary-items-container" class="scroll-well">
			{{> "bin"}}
		</div>
	</div>
</footer>

{{/post}}